img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

body{
  margin-left:30%;
  margin-right:30%;
}

p {
  font-family: "Courier New";
  font-size: 20px;
}

h1 {
  font-family: "Courier New";
}

a {
  target= "_blank";
}
